body{
    display:flex;
    flex-direction: column;
    margin:0;
    min-height:100vh;
}

.header{
    display:flex;
    flex-direction:column;
    background-color:#1F2937;
    gap:75px;
    padding:16px;
}
.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight:bolder;
}
a, .text2{
    font-size:18px;
    color: #E5E7EB;
}
.top{
    display:flex;
    justify-content:space-between;
    margin:0 200px;
}
.top ul{
    display:flex;
    gap:10px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.text1{
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
    width:300px;

}
.text2{
    width:400px;
}
.below{
    display:flex;
    justify-content:space-between;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:80px;
}
img{
    height: 280px;
    width:500px;
    flex-shrink:0;
}
.uptext{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:-60px;
}

button{
    width:110px;
    height:35px;
    margin-top:20px;
    align-self:flex-start;
    background: #3882F6;
    border-radius:8px;
    border: 1px solid royalblue;
    color:white;
    font-weight:bold;
}
.image{
    display:flex;
    justify-content:flex-end;
    flex:1;
}
/*SECOND LAYER*/
.second{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.upperheader{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    text-align:center;
    margin-top:30px;
}
.boxandword{
    display:flex;
    gap:50px;
    justify-content:center;
    margin-bottom: 80px;
}
.boxes{
    border:4px solid royalblue;
    border-radius:8px;
    width:155px;
    height:155px;
}

.textbelowbox{
    width:160px;
    font-size:18px;
    color:gray;
    text-align: center;
    
}
/*THIRD LAYER*/
.third{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: #E5E7EB;
    padding:150px;
    height:130px;
}
.quote{
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    margin:0 190px;
    
}
.signature{
    display:flex;
    justify-content:flex-end;
    margin-right:230px;
    font-weight:bold;
    font-size:20px;
}
/*FOURTH LAYER*/
.fourth{
    display:flex;
    flex:1;
    padding:100px;
}
.fourthcontainer{
    background-color:#3882F6;
    display:flex;
    justify-content:space-between;
    flex:1;
    padding:50px;
    border-radius: 8px;
}
.fourthtext, .fourthbutton, .fourthcontainer{
    margin:0 90px;
}
.fourthtext .firsttext{
    color:white;
    font-size:26px;
    font-weight:bold;

}
.fourthtext .secondtext{
    color:#F9FAF8;
    font-size:18px;

}
.fourthbutton{
    border-radius: 8px;
    border:2px solid white;
    margin-top:10px;
    font-weight:bold;
    color:#F9FAF8;
}
